
div {
}
div.main {
    align-content: center;
    text-align: center;
    
}

div.align {
    margin-left: 50px;
    margin-right: 50px;
}

form {
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgrey;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 15px 15px 10px grey;
    border-radius: 25px;
    font-size: 20px;
}

a {
    color: blueviolet;
    
}

.signin {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    padding: 10px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}


label.first {
    position: relative;
    left: 35px;
}
label.last {
    position: relative;
}
.left {
    margin-left: 40px;
}
.right {
    margin-right: 40px;
}

.submit {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
    color: white;
    padding: 15px;
    font-size: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: bold;
}
.submit:hover {
    background-color: white;
    color: lightskyblue;
}

button {
    font-size: 25px;
}